body {
	margin: 0;
    background-color: #ededed;
    font-size: 100%;
    font-family: Gill Sans, Helvetica, Arial, sans-serif;
    /*border-top: 1em solid #ebb037;*/
    color: #1a1919;
    line-height: 1.5;
}

/* set normal behaviour for page-wide links */
a:link, a:visited { 
    color:#ebb037; 
    text-decoration: none; 
} 

a:hover, a:active { 
    color:#397b8f; 
    text-decoration: none; 
}  

/* set behaviour for menu -items links */
.menu-footer-anchor:link, 
.menu-footer-anchor:visited {
    color:whitesmoke; 
    text-decoration: none; 
}

.menu-footer-anchor:hover,
.menu-footer-anchor:visited {
    color:whitesmoke; 
    text-decoration: none; 
}

/* for wrapper-header: set position to relative */ 
.wrapper-header {
    position: relative;
    width: 100%;
    height: 3em;
    margin: 0 auto;
}


/* for mobile-menu: position can be set to relative, background color to whitesmoke */
.wrapper-header .mobile-menu {
    position: relative;
    display: block;
    width: 100%;
    height: 3em;
    color: #ebb037;
    background-color: whitesmoke;
    text-shadow: none;
}

/* float left menu type footer-anchor */
.mobile-menu .menu-footer-anchor {
    float: left;
    width: 80px;
    background-color: #397b8f;
    padding: 0.51em 0 0.51em 1em;
    font-size: 1.2em;
}

/* float right tel nbr */
.mobile-menu .tel {
    float: right;
    width: 180px;
    background-color: whitesmoke;
    padding: 0.51em 1em 0.51em 1em;
    font-size: 1.2em;
    text-align: right;
}

/* full contact details are not displayed in linear / mobile version */ 
.contact-details {
    display: none;
}

/* this is the logo header: needs to be positioned absolute, trick to center (margin auto not possible) */
.wrapper-header h1 {
    position: absolute;
    top: 3em;
    left: 50%;
    display: block;
    width: 60px;
    height: 65px;
    margin-left: -30px;
    margin-top: 0.5em;
    margin-bottom: 0.5em; 
    font-size: 1em;
}

/* image dimensions are set, still possible to add some text and align */
.wrapper-header h1 img {
    width: 60px;
    height: 65px;
    /*vertical-align: text-top;*/
    /*border-bottom: 1px dashed #000;*/
}

/* add a paragraph in html for text associated with logo */
/*.wrapper-header h1 p {
    text-align: left;
    margin: 0;
    text-transform: uppercase;
    color: #397b8f;
    font-weight: 500;
}*/

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}

#wrapper-page {
    position: relative;
    margin-top: 5em;
}

/* synopsis title is not displayed from .md content file */
#wrapper-page h1 {
    display: none;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 0;
    font-size: 1.2em;
    padding: 0em .5em 1em;
    /*box-shadow: 0px 10px 50px silver;*/
}

h2 {
    text-transform: uppercase;
    color: #397b8f;
    font-weight: 900;
    font-size: 1em;
    padding-right: 1em;
    padding-left: 1em;
}

h3 {
    font-weight: 600;
    font-size: 1em;
    padding-right: 1em;
    padding-left: 1em;
}

p { 
    margin: 1em; 
}

/* synopis content formattig settings */
h1+p,
h1+p+p {
    text-align: center;
    color: #1a1919;
    font-weight: 200;
    font-size: 1.2em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1+p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.5em 1em 0.5em
}

h1+p+p {
    margin-top: 0;
    padding-top: 0.5em;
}

h1 {
	font-weight: 100;
}

{
	margin: 0;
	padding: 0;
}

section,
nav,
.menu {
	/*background-color: whitesmoke;*/
	/*border: 1px solid gainsboro;*/
	font: small sans-serif;
	text-align: left;
	color: gray;
	margin: 1em;
}

section#synopsis {
    margin-top: 0;
}

.menu { 
	position: absolute;
	top: 0;
	right: 0;
	background-color: gainsboro;
	padding: 0.5em;
}


article#strategie,
article#complexite,
article#rechercheutilisateur,
article#conception,
article#realisation,
article#international {
    background-color: whitesmoke;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


/* navigation - menu formatting */
nav ul {
    list-style: none;
    list-style-type: none;
    padding: 0em;
    text-transform: uppercase;
    text-align: center;
}

nav ul li {
    background-color: whitesmoke;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}










